[submodule "External/spdlog"]
	path = External/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "External/tinyobjloader"]
	path = External/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb.git
